@using IptProject.Models.Attendance
@model AddAttendanceVM

@{
    ViewBag.Title = "AddAttendance";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<h2>Add Attendance</h2>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Manage Attendance</h4>
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teacher Name</label>
                                        <input class="form-control" type="text" placeholder="Teacher Name" disabled>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Offered Courses</label>
                                        <input class="form-control" type="text" placeholder="Offered Courses" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label>campus</label>
                                            <input class="form-control" type="text" placeholder="campus" disabled>
                                        </div>
                                    </div>*@

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Semester</label>
                                        <input class="form-control" type="text" placeholder="Semester" disabled>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Section</label>
                                        <input class="form-control" type="text" placeholder="Section" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input class="form-control" type="date">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Duration</label>
                                        <select class="form-control bootstrap-select ">
                                            <option>1</option>
                                            <option>1.5</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12 ">
                                    <button type="submit" class="btn btn-success pull-right">Save</button>
                                </div>

                            </div>
                            @*

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="material-icons">close</i>
                                            </button>
                                            <span>
                                                <b> Info - </b> This is a regular notification made with ".alert-info"
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            *@
                        </form>

                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead class="card-header card-header-primary">

                                            <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">Roll#</th>
                                                <th scope="col">Student Name</th>
                                                <th scope="col">Presence</th>
                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @{

                                                int i = 0;
                                                foreach (var item in Model.students)
                                                {

                                                    //<option value="@item.SemesterID">@item.SemesterName</option>

                                                                                        <tr>

                                                                                            <td>@(i + 1)</td>
                                                                                            <td>@Html.DisplayFor(modelItem => item.RollNumber)</td>
                                                                                            <td>@Html.DisplayFor(modelItem => item.SName)</td>

                                                                                            <td>
                                                                                                <select class="form-control">
                                                                                                    <option selected disabled hidden>Select</option>
                                                                                                    <option>Absent</option>
                                                                                                    <option>Present</option>
                                                                                                    <option>Late</option>

                                                                                                </select>
                                                                                            </td>
                                                                                            <td></td>
                                                                                                  
                                                                                        </tr>

                                                        i++;
                                                    }
                                                }

                                              

                                            </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>